@import "tailwindcss";

@theme {
    --default-font-family: "Atkinson Hyperlegible Next", var(--font-sans);
    --shadow-round: 0 0 2rem;
    --shadow-square: -1rem 1rem;
}

/*
.glow {
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px light-dark(#065f46, #f0fdfa);
    }
}
*/
