body {
  font-size: 18px;
  background-color: #fafafa;
  color: #555;
}
	/* link */
a {
	color: #222;
}
/* mouse over link */
a:hover {
	color: #000;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
    color: #6c757d;
  }
	/* link */
	a {
		color: #dee2e6;
	}
	/* mouse over link */
	a:hover {
		color: #fff;
	}
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
