body {
  font-size: 14px;
  font-family: sans-serif;
  background-color: WhiteSmoke;
  color: Black;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: Black;
    color: Gainsboro;
  }  
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
