body {
  background-color: White;
  color: Black;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: DarkSlateGray;
    color: White;
  }  
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
