body {
	scrollbar-color: rgba(14, 15, 15, 0.9) transparent;
	overflow-y: hidden;
	font-family: "Atkinson Hyperlegible Next";
	font-size: 18px;
	color: lightgray;
	background-image: url("img/grass.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.feed {
	margin: 2em;
}
.index-title {
	margin: 4em;
	display: flex;
	justify-content: space-around;
}
.index-title > div {
	text-align: right;
}
.frutiger {
	background: linear-gradient(rgba(83, 85, 87, 0.8) 0%, rgba(14, 15, 15, 0.8) 100%);
	box-shadow:
		0px 10px 15px rgba(0, 0, 0, 0.3),
		inset 0px 2px 1px rgba(255, 255, 255, 0.3),
		inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}
.bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	border-radius: 1em;
	margin-bottom: 1em;
	backdrop-filter: blur(4px);
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center > h1 {
	font-size: 1.6em;
	margin: 0.2em;
}
.center > p {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
.left,
.right {
	flex: 1;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button > a:hover {
	filter: brightness(80%);
}
button:active {
	padding-top: 0.3em;
}
button > a {
	padding: 0.5em;
	border-radius: 0.5em;
}
.icon {
	width: 48px;
	margin-top: 0.3em;
	margin-left: 0.6em;
}
.gif {
	margin: 1em;
	display: flex;
	justify-content: center;
}
.gif > img {
	image-rendering: pixelated;
	scale: 400%;
}
a {
	text-decoration: none;
	color: lightgreen;
}
.container {
	padding: 1em;
	border-radius: 1em;
	backdrop-filter: blur(4px);
	--container-height: 28em;
	height: var(--container-height);
}
.h-scroll {
	width: calc(var(--container-height) - 2em);
	height: calc(100vw - 6em);
	overflow-y: auto;
	rotate: -90deg;
	translate: calc(calc(var(--container-height) - 1.5em) * -1);
	transform-origin: right top;
	margin-top: -1em;
	padding-top: -1em;
}
.h-scroll > div {
	rotate: 90deg;
}
.h-scroll > div > figure {
	display: table;
}
.h-scroll > div > figure:nth-child(1) {
	margin-left: 1em;
}
.h-scroll > div > figure > img {
	height: 20em;
	margin-top: 0.5em;
}
.round {
	border-radius: 1em;
	border: 0.2em solid rgba(83, 85, 87, 0.9);
}
.h-scroll > div > figure > figcaption {
	display: table-caption;
	height: 4em;
}
.h-scroll > div > figure > figcaption > p {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
}
