@import "tailwindcss";
@plugin "@tailwindcss/typography";

.nav-fade-in {
	animation: fadeInBackground 0.5s ease-in-out forwards;
}

@keyframes fadeInBackground {
	from {
		color: black;
		background-color: transparent;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bg-fade-in {
	animation: fadeIn 0.5s ease-out forwards;
}

body {
	scrollbar-gutter: stable both-edges;
}

#homerowModeButton {
	position: relative;
}

.tooltip {
	position: absolute;
	bottom: -25px; /* Adjust as needed to position below the button */
	left: 50%;
	transform: translateX(-50%);
	background-color: oklch(94.5% 0.129 101.54);
	color: oklch(12.9% 0.042 264.695);
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 0.75rem;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
}

body.homerow-mode-active .tooltip {
	opacity: 1;
	visibility: visible;
}
