@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	/* Disable default colors to prevent their use; feel free to re-enable as needed. */
	--color-amber-*: initial;
	--color-lime-*: initial;
	--color-emerald-*: initial;
	--color-teal-*: initial;
	--color-sky-*: initial;
	--color-indigo-*: initial;
	--color-violet-*: initial;
	--color-fuchsia-*: initial;
	--color-pink-*: initial;
	--color-rose-*: initial;
	--color-slate-*: initial;
	--color-zinc-*: initial;
	--color-neutral-*: initial;
	--color-stone-*: initial;

	--color-purple: #674577;
	--color-pink: #ffa3d6;
	--color-blue: #64b9ca;
	--color-beige: #ffebe5;
}

@keyframes fadeInBackground {
	from {
		color: var(--color-black);
		background-color: transparent;
	}
	to {
		color: var: color(--color-white);
		background-color: var(--color-blue);
	}
}

.fade-in-blue {
	animation: fadeInBackground 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

body {
  scrollbar-gutter: stable both-edges;
}

nav li {
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: -25px; /* Adjust as needed to position below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

body.homerow-mode-active .tooltip {
    opacity: 1;
    visibility: visible;
}
